#product-container{
  display:flex;
  justify-content:center;
  gap:30px;
  margin-top:40px;
}

img{
  width:200px;
  cursor:pointer;
}

canvas{
  max-width:900px;
  margin:40px auto;
  display:block;
}

#results-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: 900px;
  margin: 40px auto;
  list-style: none;
  padding: 0;
}

#results-list li{
  text-align: center;
  background: #e6e6e6;   /* slightly darker */
  color: #222;           /* darker text */
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #999; /* improves contrast */
}
#results-btn{
  display:block;
  margin:30px auto;
  padding:12px 20px;
  font-size:16px;
  background-color:#2e7d32;
  color:white;
  border:none;
  border-radius:6px;
  cursor:pointer;
}

#results-btn:hover{
  background-color:#3e8e41;
}

#results-list li:hover{
  background-color: #d1f7d6;
  transform: scale(1.05);
  transition: 0.2s;
}

header {
  background-color: #0f6a38;
  color: #ffffff;
}